# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node/k6 (if we add a UI or load tests)
node_modules/
dist/
